@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

:root {
    --primary-bg: #EFEFEF;
    --secondary-bg: #FFFFFF;
    --header-color: #333;
    --highlighted-color: #7C0404;
    --text-light: #FFFFFF;
    --border-color: #7D1E22;
    --sidebar-hover: #606060;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--primary-bg);
    font-size: 12px;
    /* Adjusted font size */
}

/* Navigation link styles */
.nav-link {
    transition: opacity 0.3s, background-color 0.3s;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    /* Adjusted font size */
}

.nav-link:hover {
    background-color: var(--sidebar-hover);
    transform: scale(1.0);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    color: var(--text-light);
    border-radius: 5px;
}

.nav-link:hover~.nav-link {
    opacity: 0.9;
}

nav:hover .nav-link {
    opacity: 1;
}

/* Footer styles */
.footer {
    background-color: var(--header-color);
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 8px !important;
    /* Adjusted font size */
    color: var(--text-light);
    text-align: center;
}

/* Sidebar styles */
#sidebar {
    transition: transform 0.9s ease, opacity 0.9s ease;
    background-color: var(--header-color) !important;
}

#sidebar.hidden {
    transform: translateX(-100%);
    opacity: 0;
}


.main-content {
    overflow-y: auto;
    height: 100%;
}

/* Customize scrollbar for WebKit browsers (Chrome, Safari) */
.main-content::-webkit-scrollbar {
    width: 12px;
}

.main-content::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.main-content::-webkit-scrollbar-thumb {
    background-color: maroon;
    border-radius: 10px;
    border: 3px solid #f1f1f1;
}

/* Customize scrollbar for Firefox */
.main-content {
    scrollbar-width: thin;
    scrollbar-color: maroon #f1f1f1;
}

.section-container {
    padding: 0.5rem;
    margin-top: 0.5rem;
    background-color: #2d3748;
    /* bg-gray-800 */
    border-radius: 0.5rem;
    /* rounded-lg */
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    /* Adjusted font size */
}

.section-container form {
    margin-bottom: 0.5rem;
    /* mb-2 */
}

.section-container label {
    display: block;
    margin-bottom: 0.25rem;
    /* mb-1 */
    color: #ffffff;
    /* text-white */
}

.section-container select {
    width: 100%;
    /* w-full */
    padding: 10px !important;
    /* p-2 */
    border: 1px solid #ccc;
    /* border */
    border-radius: 0.25rem;
    /* rounded */
    color: #000000;
    /* text-black */
}

.section-container button {
    font-size: 12px;
    /* Adjusted font size */
    font-weight: 600;
    /* font-semibold */
    color: #63b3ed;
    /* text-blue-400 */
    display: flex;
    /* flex */
    align-items: center;
    /* items-center */
    background: none;
    border: none;
    cursor: pointer;
}

.section-container button:hover {
    color: #4299e1;
    /* hover:text-blue-500 */
}

.section-container .fa-plus-circle {
    margin-right: 0.5rem;
    /* mr-2 */
    font-size: 14px;
    /* text-lg */
    color: #4299e1;
    /* text-blue-500 */
}

.card {
    background-color: var(--secondary-bg);
    padding: 20px;
    border-radius: 8px;
    box-shadow:
        0 10px 15px rgba(0, 0, 0, 0.1),
        0 4px 6px rgba(0, 0, 0, 0.1);
}

.card:hover {
    background-color: var(--secondary-bg);
    box-shadow:
        0 10px 15px rgba(0, 0, 0, 0.1),
        0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.5s, box-shadow 0.3s;
    transform: scale(1.05);
}

/* Dropdown styles */
.collapse {
    height: 0;
    overflow: hidden;
    transition: height 0.5s ease;
}

.collapse.show {
    height: auto;
}

.card {
    background-color: var(--secondary-bg);
    padding: 10px;
    /* Reduced padding */
    border-radius: 8px;
    box-shadow:
        0 10px 15px rgba(0, 0, 0, 0.1),
        0 4px 6px rgba(0, 0, 0, 0.1);
}

.card:hover {
    background-color: var(--secondary-bg);
    box-shadow:
        0 10px 15px rgba(0, 0, 0, 0.1),
        0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.5s, box-shadow 0.3s;
    transform: scale(1.05);
}

.card h5 {
    font-size: 1rem;
    /* Reduced font size */
}

.card p {
    font-size: 0.875rem;
    /* Reduced font size */
}

/* Responsive adjustments */
@media (max-width: 1200px) {
    .card {
        padding: 15px;
    }

    .section-container {
        padding: 0.5rem;
    }
}

@media (max-width: 992px) {
    .card {
        padding: 10px;
    }

    .section-container {
        padding: 0.5rem;
    }
}

@media (max-width: 768px) {
    .card {
        padding: 8px;
    }

    .section-container {
        padding: 0.5rem;
    }

    .card h5 {
        font-size: 16px;
    }

    .card p {
        font-size: 12px;
    }
}

@media (max-width: 576px) {
    .card {
        padding: 5px;
    }

    .section-container {
        padding: 0.5rem;
    }

    .card h5 {
        font-size: 14px;
    }

    .card p {
        font-size: 12px;
    }

    .footer {
        font-size: 8px !important;
    }
}