{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add Group</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'admin/pre_oral/add_groupPODs.css' %}" />
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  </head>
  <body>
    {% if empty %}
    <script>
        alert("{{ message }}");
    </script>
    {% endif %}

    {% if error_message %}
    <script>
        alert("{{ error_message }}");
    </script>
    {% endif %}
    
    <div class="flex h-screen flex-col">
        <!-- Navbar -->
        <div class="no-print">
            {% include 'navbar.html' %}
        </div>
        <div class="flex flex-1 overflow-hidden">
            <!-- Sidebar -->
            {% include 'sidebar.html' %}
            <!-- Main Content Wrapper -->
            <div class="flex flex-col flex-1">
                <!-- Content -->
            <main class="flex-1 overflow-auto p-6 main-content">
                <div class="container mt-5">
                    <h2 class="h2"><i class="fas fa-users"></i> Group Adding for Pre-Oral Defense</h2>
                    {% for message in messages %}
                        {% comment %} <div class="alert alert-info">{{ message }}</div> {% endcomment %}
                    {% endfor %}

                    <div class="form-container">
                        <!-- Manual Addition Form -->
                        <div class="card">
                            <form id="manualForm" method="post">
                                <fieldset class="fieldset">
                                    <div class="fieldset-header"><i class="fas fa-pencil-alt"></i> Add Manually</div>
                                    {% csrf_token %}
                                    {% load widget_tweaks %}
                                    <div class="form-group">
                                        <label>Member 1:</label>
                                        <div class="row">
                                            <div class="col-md-4">
                                                {{ form.member1_last_name|attr:"placeholder:Last Name" }}
                                            </div>
                                            <div class="col-md-4">
                                                {{ form.member1_first_name|attr:"placeholder:First Name" }}
                                            </div>
                                            <div class="col-md-4">
                                                {{ form.member1_middle_initial|attr:"placeholder:MI" }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>Member 2:</label>
                                        <div class="row">
                                            <div class="col-md-4">
                                                {{ form.member2_last_name|attr:"placeholder:Last Name" }}
                                            </div>
                                            <div class="col-md-4">
                                                {{ form.member2_first_name|attr:"placeholder:First Name" }}
                                            </div>
                                            <div class="col-md-4">
                                                {{ form.member2_middle_initial|attr:"placeholder:MI" }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>Member 3:</label>
                                        <div class="row">
                                            <div class="col-md-4">
                                                {{ form.member3_last_name|attr:"placeholder:Last Name" }}
                                            </div>
                                            <div class="col-md-4">
                                                {{ form.member3_first_name|attr:"placeholder:First Name" }}
                                            </div>
                                            <div class="col-md-4">
                                                {{ form.member3_middle_initial|attr:"placeholder:MI" }}
                                            </div>
                                        </div>
                                    </div>  
                                    <div class="form-group">
                                        <label for="id_title">Approved Title:</label>
                                        {{ form.title|attr:"placeholder:Enter the approved title"|attr:"class:custom-input" }}
                                    </div>
                                    <div class="form-group">
                                        <label for="id_subject_teacher">Subject Teacher:</label>
                                        {{ form.capstone_teacher|attr:"placeholder:Enter Subject Teacher" }}
                                    </div>
                                    <div class="form-group">
                                        <label for="id_section">Section:</label>
                                        {{ form.section|attr:"placeholder:Enter Section" }}
                                    </div>
                                    <div class="form-group">
                                        <label for="id_adviser">Adviser:</label>
                                        {{ form.adviser|attr:"placeholder:Enter Adviser" }}
                                    </div>
                                    <button type="submit" class="button"><i class="fas fa-plus-circle"></i> Add Group</button>
                                </fieldset>
                            </form>
                        </div>

                        <!-- Excel File Upload Form -->
                        <div class="card">
                            <form id="uploadForm" method="post" enctype="multipart/form-data">
                                <fieldset class="fieldset">
                                  <div class="fieldset-header"><i class="fas fa-file-upload"></i> Upload Excel File</div>
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <label for="id_upload_file">Upload File:</label>
                                        {{ upload_file_form.upload_file }}
                                    </div>
                                    <button type="submit" class="button"><i class="fas fa-upload"></i> Upload File</button>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                    {% comment %} <button class="back-button" onclick="history.back()">Back</button> {% endcomment %}
                </div>
            </main>
            <footer class="footer">
                {% include 'footer.html' %}
              </footer>
        </div>
      </div>
    </div>

    <!-- Success Modal -->
    <div class="modal fade" id="successModal" tabindex="-1" role="dialog" aria-labelledby="successModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
              <div class="modal-header">
                  <h5 class="modal-title" id="successModalLabel"><i class="fas fa-check-circle"></i> Success!</h5>
              </div>
              <div class="modal-body">
                  Your action was completed successfully.
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-modal" id="modalConfirmButton">OK</button>
              </div>
          </div>
      </div>
  </div>

     <!-- Loader Modal -->
     <div class="modal fade" id="loaderModal" tabindex="-1" role="dialog" aria-labelledby="loaderModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-body text-center">
                    <p id="progressText">Processing... 0%</p>
                    <div class="progress">
                        <div id="progressBar" class="progress-bar progress-bar-animated progress-bar-custom" role="progressbar" style="width: 0%"></div>
                    </div>
                    <i id="successIcon" class="fas fa-check-circle success-icon"></i>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        function showLoaderModal() {
            $('#loaderModal').modal('show');
            var progressBar = document.getElementById('progressBar');
            var progressText = document.getElementById('progressText');
            var successIcon = document.getElementById('successIcon');
            var width = 0;
            var interval = setInterval(function() {
                if (width >= 100) {
                    clearInterval(interval);
                    $('#loaderModal').modal('hide');
                    showSuccessModal();
                } else {
                    width += 1; // Adjust the increment value here
                    progressBar.style.width = width + '%';
                    progressText.innerText = 'Processing... ' + width + '%';
                }
            }, 10); // Adjust the interval speed here
        }
    
        function showSuccessModal() {
            $('#successModal').modal('show');
            $('#modalConfirmButton').on('click', function() {
                $('#successModal').modal('hide');
                localStorage.setItem('selectedTableId', 'preoral-details');
                window.location.href = "{% url 'carousel_page' %}#preoral-details";
            });
        }
    
        $(document).ready(function() {
            $('form').on('submit', function(event) {
                event.preventDefault();
                var form = this;
                showLoaderModal();
                $.ajax({
                    url: form.action,
                    type: form.method,
                    data: new FormData(form),
                    processData: false,
                    contentType: false,
                    success: function(response) {
                        // Wait for the loader to complete before showing the success modal
                        setTimeout(function() {
                            $('#loaderModal').modal('hide');
                            showSuccessModal();
                        }, 5000); // Adjust this timeout to match the loader duration
                    },
                    error: function(response) {
                        $('#loaderModal').modal('hide');
                        alert('An error occurred. Please try again.');
                    }
                });
            });
        });
    
        document.getElementById("sidebarToggle").addEventListener("click", function (event) {
            event.preventDefault();
            var sidebar = document.getElementById("sidebar");
            sidebar.classList.toggle("hidden");
        });
    </script>
    
</body>
</html>