:root {
    --primary-bg: #EFEFEF;
    --secondary-bg: #FFFFFF;
    --header-color: #333;
    --highlighted-color: #7C0404;
    --text-light: #FFFFFF;
    --border-color: #7D1E22;
    --sidebar-hover: #606060;
}

/* Navigation link styles */
.nav-link {
    transition: opacity 0.3s, background-color 0.3s;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    /* Added font size */
}

.nav-link:hover {
    background-color: var(--sidebar-hover);
    transform: scale(0.5);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    color: var(--text-light);
    border-radius: 5px;
}

.nav-link:hover~.nav-link {
    opacity: 0.9;
}

nav:hover .nav-link {
    opacity: 1;
}

/* Footer styles */
.footer {
    background-color: var(--header-color);
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 8px;
    color: var(--text-light);
    text-align: center;
}

/* Sidebar styles */
#sidebar {
    transition: transform 0.9s ease, opacity 0.9s ease;
    background-color: var(--header-color) !important;
}

#sidebar.hidden {
    transform: translateX(-100%);
    opacity: 0;
}

.main-content {
    overflow-y: auto;
    height: 100%;
}

.section-container {
    padding: 0.5rem;
    margin-top: 0.5rem;
    background-color: #2d3748;
    /* bg-gray-800 */
    border-radius: 0.5rem;
    /* rounded-lg */
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    /* Set font size to 12px */
}

.section-container form {
    margin-bottom: 0.5rem;
    /* mb-2 */
}

.section-container label {
    display: block;
    margin-bottom: 0.25rem;
    /* mb-1 */
    color: #ffffff;
    /* text-white */
    font-size: 12px;
    /* Set font size to 12px */
}

.section-container select {
    width: 100%;
    /* w-full */
    padding: 10px !important;
    /* p-2 */
    border: 1px solid #ccc;
    /* border */
    border-radius: 0.25rem;
    /* rounded */
    color: #000000;
    /* text-black */
    font-size: 12px;
    /* Set font size to 12px */
}

.section-container button {
    font-size: 12px;
    /* Set font size to 12px */
    font-weight: 600;
    /* font-semibold */
    color: #63b3ed;
    /* text-blue-400 */
    display: flex;
    /* flex */
    align-items: center;
    /* items-center */
    background: none;
    border: none;
    cursor: pointer;
}


/* Flexbox for aligning icon and text */
.nav-link {
    display: flex;
    align-items: center;
}

.nav-link span {
    flex-shrink: 0;

}

.nav-link p {
    flex-grow: 1;
    /* Allow the text to grow */
    margin: 0;
    /* Remove default margin */
    font-size: 13px;
    /* Adjust the font size as needed */
}