@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

:root {
    --primary-bg: #EFEFEF;
    --secondary-bg: #FFFFFF;
    --header-color: #333;
    --highlighted-color: #7C0404;
    --text-light: #FFFFFF;
    --border-color: #7D1E22;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--primary-bg);
    font-size: 13px;
}

/* Flexbox container to ensure both elements stretch to the same size */
.flex-container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.flex-container .table,
.flex-container .card {
    flex: 1;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
}

/* Navigation link styles */
.nav-link {
    transition: opacity 0.3s, background-color 0.3s;
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
}

.nav-link:hover {
    background-color: var(--highlighted-color);
    transform: scale(1.0);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    color: var(--text-light);
    border-radius: 5px;
}

.nav-link:hover~.nav-link {
    opacity: 0.9;
}

nav:hover .nav-link {
    opacity: 1;
}

/* Footer styles */
.footer {
    background-color: var(--header-color);
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 12px;
    color: var(--text-light);
    text-align: center;
}

/* Sidebar styles */
#sidebar {
    transition: transform 0.9s ease, opacity 0.9s ease;
    background-color: var(--header-color) !important;
    overflow: hidden;
}

#sidebar.hidden {
    transform: translateX(-100%);
    opacity: 0;
}

.main-content {
    overflow-y: auto;
    height: 100%;
}

/* Customize scrollbar for WebKit browsers (Chrome, Safari) */
.main-content::-webkit-scrollbar {
    width: 12px;
}

.main-content::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.main-content::-webkit-scrollbar-thumb {
    background-color: maroon;
    border-radius: 10px;
    border: 3px solid #f1f1f1;
}

/* Customize scrollbar for Firefox */
.main-content {
    scrollbar-width: thin;
    scrollbar-color: maroon #f1f1f1;
}
.no-hover {
    pointer-events: none;
}

.card {
    background-color: var(--secondary-bg);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    padding: 30px;
    font-size: 12px;
    font-family: 'Poppins', sans-serif;
}

.card-title {
    font-size: 20px;
    font-weight: 600;
}

.nav-navbar {
    background-color: var(--highlighted-color) !important;
    position: sticky;
    top: 0;
    z-index: 1000;
}

a.nav-link {
    color: var(--text-light);
}

.table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 15px;
}

.table th {
    background-color: var(--highlighted-color);
    color: #FFFFFF;
    white-space: nowrap;
    border-radius: 8px;
    border: 1px solid var(--text-light);
}

.table td {
    font-size: 12px;
}

.table tr {
    background-color: #EFEFEF;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}

tr:nth-child(even) {
    background-color: var(--secondary-bg);
}

tr:hover {
    background-color: var(--primary-bg);
}

.btn-warning {
    padding: 8px 8px;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
    font-size: 12px;
}

.form-group input {
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 13px;
    font-family: 'Poppins', sans-serif;
}

.form-group input:focus {
    outline: none;
    border-color: var(--highlighted-color);
}

#searchInput {
    border: 2px solid var(--header-color);
    border-radius: 5px;
    font-size: 12px;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    float: right;
    width: 200px;
}

#searchInput:focus {
    outline: none;
    border-color: var(--header-color);
    box-shadow: 0 0 5px rgba(255, 250, 250, 0.5);
}

.dropdown {
    float: right;
    padding: 5px;
    border-radius: 5px;
    background-color: var(--header-color);
    color: var(--text-light);
    font-size: 13px;
    font-family: 'Poppins', sans-serif;
}

.dropdown:focus {
    outline: none;
}

.dropdown option {
    padding: 10px;
    background-color: #ffffff;
    color: #333;
}

.btn-secondary {
    font-size: 12px;
}

.btn-maroon {
    background-color: var(--highlighted-color);
    color: var(--text-light);
    font-size: 12px;
    padding: 4px 8px;
}

.btn-maroon:hover {
    background-color: var(--highlighted-color);
    color: var(--text-light);
}

.faculty-info-highlight {
    background-color: #F6C500;
    color: var(--header-color);
    padding: 3px;
    border-radius: 3px;
    display: inline-block;
    font-size: 12px;
}

.nav-item p {
    margin: 0;
    padding: 0.5rem 1rem;
    color: var(--text-light);
    font-size: 12px;
    font-weight: 500;
    display: flex;
    align-items: center;
}

/* Pagination styles */
.pagination {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 0;
    height: 100%;
}

.pagination .step-links {
    display: flex;
}

.pagination .step-links a {
    margin: 0 5px;
    padding: 2px 6px;
    text-decoration: none;
    color: var(--highlighted-color);
    border: 1px solid var(--border-color);
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s;
    font-size: 12px;
}

.pagination .step-links a:hover {
    background-color: var(--highlighted-color);
    color: var(--text-light);
}

.pagination .step-links .current {
    margin: 0 5px;
    padding: 2px 6px;
    border: 1px solid var(--border-color);
    border-radius: 4px;
    background-color: var(--highlighted-color);
    color: var(--text-light);
    font-size: 12px;
}

.form-header {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 4px;
}

legend {
    border-radius: 4px;
    font-size: 12px;
    transition: background-color 0.3s, color 0.3s;
    z-index: 10000;
    background-color: #F6C500;
}

fieldset {
    border: 1px solid black;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 20px;
}

.form-check {
    break-inside: avoid;
    width: 100%;
}

.btn-modal {
    background-color: var(--highlighted-color);
    font-size: 12px;
    padding: 4px 8px;
    color: var(--text-light);
}

.btn-modal:hover {
    background-color: var(--highlighted-color);
    color: var(--text-light);
}

@media (max-width: 768px) {
    .card {
        padding: 15.8px;
    }

    table,
    thead,
    tbody,
    th,
    td,
    tr {
        display: block;
    }

    tr {
        display: block;
        /* grid-template-columns: 100px 4fr; */
        grid-template-columns: 1fr;
        margin-bottom: 10px;
    }

    th {
        display: grid;
        text-align: center;
        justify-content: center;
        text-align: center;
    }

    td {
        display: grid;
        padding: 20px;
        text-align: center;
    }

    td:first-child {
        padding-top: 10px;
    }

    td:last-child {
        padding-bottom: 10px;
    }

    td::before {
        font-weight: 600;
        text-transform: capitalize;
        content: attr(data-label);
    }

    .pagination .step-links a {
        margin: 0 5px;
        padding: 2px 6px;
        text-decoration: none;
        color: var(--highlighted-color);
        border: 1px solid var(--border-color);
        border-radius: 4px;
        margin-left: 0;

    }

    .pagination .step-links .current {
        margin: 0 5px;
        padding: 2px 6px;
        border: 1px solid var(--border-color);
        border-radius: 4px;
        background-color: var(--highlighted-color);
        color: var(--text-light);
        font-size: 6px;
    }


    #searchInput {
        width: 100%;
        padding: 10px;
        margin-bottom: 10px;
        border: 1px solid #333;
        border-radius: 5px;
    }

    .card-title {
        text-align: center;
        font-size: 20px;
    }

    /* Add sidebar width */
    #sidebar {
        width: 250px !important;
        /* Adjust the width as needed */
    }

}