@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

:root {
    --primary-bg: #EFEFEF;
    --secondary-bg: #FFFFFF;
    --highlighted-color: #7C0404;
    --text-light: #FFFFFF;
    --border-color: #7D1E22;
    --header-color: #333;
    --sidebar-hover: #606060;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--primary-bg);
    font-family: 'Poppins', sans-serif;
}

/* Navigation link styles */
.nav-link {
    transition: opacity 0.3s, background-color 0.3s;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
}

.nav-link:hover {
    background-color: var(--sidebar-hover);
    transform: scale(1.0);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    color: var(--text-light);
    border-radius: 5px;
}

.nav-link:hover~.nav-link {
    opacity: 0.9;
}

nav:hover .nav-link {
    opacity: 1;
}

/* Footer styles */
.footer {
    background-color: var(--header-color);
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 8px;
    color: var(--text-light);
    text-align: center;
}

/* Sidebar styles */
#sidebar {
    transition: transform 0.9s ease, opacity 0.9s ease;
    background-color: var(--header-color) !important;
    width: 225px;
}

#sidebar.hidden {
    transform: translateX(-100%);
    opacity: 0;
}

label {
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    /* Set font size to 12px */
    float: left !important;
}


.main-content {
    overflow-y: auto;
    height: 100%;
}

/* Customize scrollbar for WebKit browsers (Chrome, Safari) */
.main-content::-webkit-scrollbar {
    width: 12px;
}

.main-content::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.main-content::-webkit-scrollbar-thumb {
    background-color: maroon;
    border-radius: 10px;
    border: 3px solid #f1f1f1;
}

/* Customize scrollbar for Firefox */
.main-content {
    scrollbar-width: thin;
    scrollbar-color: maroon #f1f1f1;
}

.section-container {
    padding: 0.5rem;
    margin-top: 0.5rem;
    background-color: #2d3748;
    border-radius: 0.5rem;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
}

.section-container form {
    margin-bottom: 0.5rem;
}

.section-container label {
    display: block;
    margin-bottom: 0.25rem;
    color: #ffffff;
    font-size: 12px;
}

.section-container select {
    width: 100%;
    padding: 10px !important;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
    color: #000000;
    font-size: 12px;
}

.section-container button {
    font-size: 12px;
    font-weight: 600;
    color: #63b3ed;
    display: flex;
    align-items: center;
    background: none;
    border: none;
    cursor: pointer;
}

.section-container button:hover {
    color: #4299e1;
}

.section-container .fa-plus-circle {
    margin-right: 0.5rem;
    font-size: 14px;
    color: #4299e1;
}

.card {
    margin: 0 auto;
    padding: 20px;
    background-color: var(--secondary-bg);
    font-family: 'Poppins', sans-serif;
    border-radius: 8px;
    box-shadow:
        0 4px 8px rgba(0, 0, 0, 0.1),
        0 6px 20px rgba(0, 0, 0, 0.1),
        0 8px 30px rgba(0, 0, 0, 0.1);
    font-size: 12px;
}

.list-group-item {
    border: 1px solid var(--border-color);
    margin: 10px 0;
    padding: 10px;
    border-radius: 4px;
    font-size: 12px;
}

.text-center {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 2rem;
}

.text-muted {
    color: #6c757d;
    font-size: 12px;
}

.h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 2.0rem;
    color: var(--header-color);
    text-align: center;
}

.list-group-item {
    border: 1px solid var(--header-color);
    padding: 8px;
    margin-bottom: 8px;
    border-radius: 4px;
    font-size: 12px;
}

.button-group {
    display: flex;
    gap: 0.5rem;
}

.btn {
    display: inline-block;
    padding: 5px 10px;
    font-size: 12px;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 4px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.icon-gap {
    margin-right: 5px;
}

.content-box .btn {
    display: inline-flex;
    align-items: center;
    vertical-align: middle;
}

.btn-modal {
    background-color: var(--highlighted-color);
    color: var(--text-light);
    font-size: 12px;
}

.btn-confirm {
    background-color: var(--highlighted-color);
    color: var(--text-light);
    font-size: 12px;
}

.btn-cancel {
    font-size: 12px;
}

.btn-modal:hover {
    background-color: var(--highlighted-color);
    color: var(--text-light) !important;
}

.btn-primary {
    background-color: #F6C500 !important;
    border-color: #F6C500;
    color: #333;
    font-size: 12px;
}

.btn-primary:hover {
    background-color: #e5b200 !important;
    border-color: #e5b200;
    color: #222 !important;
}

.btn-danger {
    background-color: #dc3545;
    border-color: #dc3545;
    color: #FFFFFF;
    font-size: 12px;
}

.btn-danger:hover {
    background-color: #c82333;
    border-color: #c82333;
    color: #f8f9fa;
}

.btn-success {
    background-color: var(--highlighted-color);
    color: #fff;
    display: inline-block !important;
    font-weight: 400;
    border: 1px solid transparent;
    font-size: 12px;
}

.btn-success:hover {
    background-color: var(--highlighted-color);
}

.modal-dialog {
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal.fade-out {
    animation: fadeOut 3s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 10px;
    width: 100%;
    max-width: 600px;
    font-family: 'Poppins', sans-serif;
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    font-size: 12px;
}

.close-button {
    color: #aaa;
    float: right !important;
    font-size: 28px;
    font-weight: bold;
}

.close-button:hover,
.close-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal-title {
    font-weight: 600;
    font-size: 16px !important;
}

.modal-content h2 {
    font-size: 18px;
    margin-bottom: 20px;
}

.modal-content label {
    display: flex;
    margin-bottom: 8px;
    font-weight: 400;
    font-size: 12px;
}

.modal-content input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 12px;
}

#checkboxes-container .form-check {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    font-size: 12px;
}

#checkboxes-container .form-check input[type="checkbox"] {
    margin-right: 10px;
}

.checkbox-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    font-size: 12px;
}

.checkbox-item input[type="checkbox"] {
    margin-right: 10px;
}

.checkbox-item input[type="text"] {
    margin-left: 5px;
    flex-grow: 1;
    margin-top: 5px;
    font-size: 12px;
}

.checkbox-item .remove-checkbox-btn {
    margin-left: 10px;
}

/* Style the placeholder text */
input::placeholder {
    font-style: italic;
    color: #888;
    font-size: 12px;
}

.italic-placeholder::placeholder {
    font-style: italic;
}

.form-control.bullet-textarea {
    font-size: 12px;
}

.form-control.percentage-label {
    font-size: 12px;
}

.custom-input {
    border: 2px solid #000;
    width: 100%;
    height: 20px;
    box-sizing: border-box;
    font-size: 12px;
}

/* Ensure labels have the same length */
.form-label {
    display: inline-block;
    width: 100px;
    font-size: 12px;
}

/* Make the modal content wider and rectangular */
.modal-lg {
    max-width: 50vw;
    /* Makes the modal 50% of the viewport width */
}

/* Make modal body scrollable when subcriteria overflow */
.modal-body {
    max-height: 50vh;
    /* Limit the height of the modal body */
    overflow-y: auto;
    /* Enable vertical scrolling if the content exceeds the height */
}

/* Ensure the form layout is aligned horizontally */
.form-row {
    display: flex;
    flex-wrap: wrap;
}

.form-control::placeholder {
    font-style: italic;
    /* Make the placeholder text italic */
    color: #999;
    /* Optional: Change the placeholder color */
}

/* Add some space between subcriteria items */
.subcriteria-group {
    margin-bottom: 20px;
    padding: 10px;
}

fieldset {
    border: 1px solid #ddd;
    padding: 10px;
    position: relative;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 5px;
    background-color: #d9d7d721;
}

legend {
    color: var(--highlighted-color);
    font-size: 14px;
    padding: 0 10px;
    /* Adds space around the text */
    width: auto;
    margin-bottom: 0;
    display: inline-block;
}

/* Responsive Styles for 768px or less */
@media (max-width: 768px) {
    
    .card {
        font-size: 10px;
        box-sizing: border-box;
        width: 90%;
        text-align: center;
    }

   

    h1,
    h2,
    h3 {
        font-size: 10px;
        text-align: center;
    }

    .button {
        padding: 6px 10px;
        font-size: 10px;
    }

    input[type="text"],
    input[type="file"],
    select {
        padding: 5px;
        font-size: 12px;
    }

    .list-group-item {
        padding: 5px;
        font-size: 10px;
    }

    .btn {
        padding: 6px 10px;
        font-size: 10px;
    }

    .modal-content {
        padding: 10px;
        font-size: 10px;
    }

    .modal-title {
        font-size: 14px !important;
    }

    .modal-content h2 {
        font-size: 16px;
    }

    .modal-content input[type="text"] {
        padding: 5px;
        font-size: 10px;
    }

    .checkbox-item input[type="text"] {
        padding: 2px;
        font-size: 10px;
    }

    .custom-input {
        height: 15px;
        font-size: 10px;
    }

    .form-label {
        width: 40px;
        font-size: 10px;
    }

    .modal-lg {
        min-width: 95vw !important;
        justify-content: center !important;
    }

    .modal-body {
        max-height: 50vh;
        justify-content: center !important;
    }

}

#add-verdict-btn {
    background-color: #10B981;
    /* Button background color */
    color: #ffffff;
    /* Button text color */
    padding: 8px 8px;
    /* Padding for the button */
    border: none;
    /* Remove default border */
    border-radius: 4px;
    /* Rounded corners */
    cursor: pointer;
    /* Pointer cursor on hover */
    font-family: 'Poppins', sans-serif;
    /* Font family */
    font-size: 12px;
    /* Font size */
    transition: background-color 0.3s ease, color 0.3s ease;
    /* Smooth transition for hover effects */
}

#add-verdict-btn:hover {
    background-color: #0A8F6A;
    /* Darker shade for hover effect */
    color: #ffffff;
    /* Text color on hover */
}

.custom-button {
    padding: 4px 12px;
    background-color: #10B981;
    color: #FFFFFF;
    /* Optional: Add text color */
    font-family: 'Poppins', sans-serif;
    /* Optional: Add font family */
    font-size: 14px;
    /* Optional: Add font size */
    border-radius: 4px;
    /* Optional: Add border radius */
    cursor: pointer;
    /* Optional: Add cursor pointer */
}

.custom-button:hover {
    background-color: #0A8F6A;
}

/* Add font size to the description textarea */
#description_text {
    font-size: 12px;
}