{% load static %}
{% load users_filters %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
  
  <!-- CSS Libraries -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  <link rel="stylesheet" href="{% static 'faculty/input_grade.css' %}" />
  <title>Recommendations</title>
</head>
<body>
    <!-- Navbar -->
    <div class="no-print">
        {% include 'navbar.html' %}
    </div>

    <div class="flex h-screen flex-col">
        <div class="flex flex-1 overflow-hidden">
            <!-- Sidebar -->
            {% include 'faculty/faculty_sidebar.html' %}

            <!-- Main Content Wrapper -->
            <div class="flex flex-col flex-1">
                <!-- Content -->
                <main class="main-content p-4">
                    <div class="container">
                        <div class="card mb-4">
                            <div class="card-body">
                                <div>
                                    <table class="table table-bordered table-striped mb-4">
                                        <tr>
                                            <td colspan="2">CAPSTONE PROJECT TITLE: <strong style="color: #FFFFFF; background-color: #7C0404; padding: 5px;">{{ schedule.title }}</strong></td>
                                        </tr>
                                        <tr>
                                            <td colspan="2">GROUP MEMBERS</td>
                                        </tr>
                                        <tr><td>Member 1:</td><td>{{ schedule.group.member1 }}</td></tr>
                                        <tr><td>Member 2:</td><td>{{ schedule.group.member2 }}</td></tr>
                                        <tr><td>Member 3:</td><td>{{ schedule.group.member3 }}</td></tr>
                                        <tr><td>DATE OF DEFENSE:</td><td>{{ schedule.date }}</td></tr>
                                        <tr><td>TIME OF DEFENSE:</td><td>{{ schedule.slot }}</td></tr>
                                        <tr><td>Panelist(Lead Panel)</td><td>{{ schedule.faculty1 }}</td></tr>
                                        <tr><td>Panelist</td><td>{{ schedule.faculty2 }}</td></tr>
                                        <tr><td>Panelist</td><td>{{ schedule.faculty3 }}</td></tr>
                                        <tr><td>Adviser</td><td>{{ schedule.adviser }}</td></tr>
                                    </table>
                                </div>
                                <div class="mt-4">
                                    <h2>Recommendations</h2>
                                    <table class="table table-bordered table-striped">
                                        <tr>
                                            {% for reco in recos %}
                                                <td>{{ reco.recommendation|linebreaksbr }}</td>
                                            {% endfor %}
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
                <footer class="footer">
                    {% include 'footer.html' %}
                </footer>
            </div>
        </div>
    </div>

    <script>
        document.getElementById("sidebarToggle").addEventListener("click", function (event) {
            event.preventDefault();
            var sidebar = document.getElementById("sidebar");
            sidebar.classList.toggle("hidden");
        });
    </script>
</body>
</html>