{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8" />
    <title>Forgot Password</title>
    <link rel="stylesheet" href="{% static 'forgot_password.css' %}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap" rel="stylesheet">
</head>
<body>
    <div class="form-container">
        <div class="logo-container">
            Forgot Password
        </div>
        <form method="post" action="{% url 'forgot_password' %}" class="form">
            {% csrf_token %}
            <div class="form-group">
                <label for="email"><i class="fas fa-envelope"></i> Email</label>
                {{ form.email }}
            </div>
            <button type="submit" class="form-submit-btn">
                Send OTP
            </button>
            <div class="signup-link">
                Don't have an account? <a href="{% url 'signup' %}" class="link">Sign up now</a>.
            </div>
        </form>
    </div>
</body>
</html>