@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

:root {
  --primary-bg: #EFEFEF;
  --secondary-bg: #FFFFFF;
  --highlighted-color: #7C0404;
  --text-light: #FFFFFF;
  --border-color: #7D1E22;
  --header-color: #333;
  --sidebar-hover: #606060;
}

body {
  background-color: var(--primary-bg);
}

/* Navigation link styles */
.nav-link {
  transition: opacity 0.3s, background-color 0.3s;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
}

.nav-link:hover {
  background-color: var(--sidebar-hover);
  transform: scale(1.0);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  color: var(--text-light);
  border-radius: 5px;
}

.nav-link:hover~.nav-link {
  opacity: 0.9;
}

nav:hover .nav-link {
  opacity: 1;
}

/* Footer styles */
.footer {
  background-color: var(--header-color);
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 12px;
  color: var(--text-light);
  text-align: center;
}

label {
  font-weight: 400;
  font-family: 'Poppins', sans-serif;
  float: left;
}


/* Sidebar styles */
#sidebar {
  transition: transform 0.5s ease, opacity 0.5s ease;
  background-color: var(--header-color);
}

#sidebar.hidden {
  transform: translateX(-100%);
  opacity: 0;
}

.section-container {
  padding: 0.5rem;
  margin-top: 0.5rem;
  background-color: #2d3748;
  /* bg-gray-800 */
  border-radius: 0.5rem;
  /* rounded-lg */
  font-family: 'Poppins', sans-serif;
}

.section-container form {
  margin-bottom: 0.5rem;
  /* mb-2 */
}

.section-container label {
  display: block;
  margin-bottom: 0.25rem;
  /* mb-1 */
  color: #ffffff;
  /* text-white */
}

.section-container select {
  width: 100%;
  /* w-full */
  padding: 10px !important;
  /* p-2 */
  border: 1px solid #ccc;
  /* border */
  border-radius: 0.25rem;
  /* rounded */
  color: #000000;
  /* text-black */
}

.section-container button {
  font-size: 0.875rem;
  /* text-sm */
  font-weight: 600;
  /* font-semibold */
  color: #63b3ed;
  /* text-blue-400 */
  display: flex;
  /* flex */
  align-items: center;
  /* items-center */
  background: none;
  border: none;
  cursor: pointer;
}

.section-container button:hover {
  color: #4299e1;
  /* hover:text-blue-500 */
}

.section-container .fa-plus-circle {
  margin-right: 0.5rem;
  /* mr-2 */
  font-size: 1.125rem;
  /* text-lg */
  color: #4299e1;
  /* text-blue-500 */
}


.container {
  background-color: var(--secondary-bg);
  margin-top: 10px !important;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 5% auto;
  width: 80%;
  max-width: 600px;
}

.fieldset {
  border: 2px solid var(--header-color);
  border-radius: 8px;
  padding: 20px;
  position: relative;
}

.fieldset-header {
  color: var(--header-color);
  font-size: 1.2em;
  font-weight: 600;
  padding: 0 10px;
  position: absolute;
  top: -1.0em;
  left: 10px;
  display: inline-block;
  background: var(--secondary-bg);
  z-index: 1;
  font-family: 'Poppins', sans-serif;
}

.textarea-container {
  margin-bottom: 1rem;
}

.textarea {
  width: 100%;
  border: 1px solid var(--border-color);
  border-radius: 0.5rem;
  padding: 0.4rem;
  resize: none;
  font-family: 'Poppins', sans-serif;
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.button {
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  transition: background-color 0.3s, color 0.3s;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
}

.back-button {
  background-color: var(--header-color);
  color: var(--text-light);
}

.back-button:hover {
  background-color: var(--highlighted-color);
  color: var(--text-light);
}

.recommend-button {
  background-color: #c5c0a1;
  color: var(--text-dark);
}

.recommend-button:hover {
  background-color: var(--highlighted-color);
  color: var(--text-light);
}